body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    user-select: none;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: #303455;
}

.flex-center
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.button{
    width: 10rem;
    height: 3rem;
    background-color: #60658f;
    border-radius: 15px;
    transition-duration: 200ms;
    transition-timing-function: ease;
    color: #151725;
    font-size: 1.7rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}
.button:hover{
    width: 9.2rem;
    height: 3rem;
    background-color: #af4aaa;
    color: #1F1717;
    border-radius: 10px;
}
.offset
{
    width: 10rem;
    height: 3rem;
    background-color: #60658f;
    border: none;
    border-radius: 10px;
    transition-duration: 200ms;
    transition-timing-function: ease;
    color: #151725;
    font-size: 1.6rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2rem;
}
h2
{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 3rem;
    margin: 1rem;
    margin-top: 6rem;
    color: #c9c9c9;
}
#inputId
{
    width: 10rem;
    height: 3rem;
    background-color: #60658f;
    border: solid #d4cfd4 2px;
    border-radius: 10px;
    transition-duration: 200ms;
    transition-timing-function: ease;
    color: #151725;
    font-size: 1.8rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2rem;
    
}
.d
{
    width: 11rem;
}
.stopwatch
{
    height: 7rem;
    width: 20rem;
    background-color: #00000034;
    margin-bottom: 1rem;
    border-radius: 15px;
    color:#c9c9c9;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
}
.sec
{
    color:#1F1717;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    display: relative;
    
}
.newPlayer
{
    margin: 3rem;
    width: 12rem;
}
.newPlayer:hover{
    width: 11rem;
    height: 3rem;
    background-color: #af4aaa;
    color: #1F1717;
    border-radius: 10px;
}
@media (max-width: 400px)
{
    body{
        user-select: none;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        background-color: #FCF5ED;
    }
    .flex-center
    {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .button{
        width: 35vw;
        height: 2.5rem;
        background-color: #CE5A67;
        border-radius: 10px;
        transition-duration: 200ms;
        transition-timing-function: ease;
        color: #1F1717;
        font-size: 1.2rem;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 400;
    }
    .stopwatch
    {
        height: 7rem;
        width: 60vw;
        background-color: #F4BF96;
        margin-bottom: 2.5rem;
        border-radius: 15px;
        color:#1F1717;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 300;
        font-size: 1.5rem;
    }
    .erase
    {
        display: none;
    }   
}
.erase
{
    display: none;
}